:root {
  --color-alpha: hsl(0, 0%, 7%);
  --color-beta: hsl(0, 0%, 100%);
  --color-gamma: hsl(340, 100%, 94%);
  --color-gamma2: hsl(340, 100%, 97%);
  --color-delta: hsl(178, 100%, 85%);
  --color-delta2: hsl(178, 100%, 92%);
  --sidebar-width: clamp(300px, 33vw, 500px);
  --sidebar-duration: .6s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-alpha);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

.app {
  display: grid;
  position: relative;
}

.app:before {
  content: "";
  background-color: var(--color-gamma2);
  background-image: linear-gradient(to top left, var(--color-gamma2), var(--color-delta2));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.app__form {
  position: sticky;
  top: 0;
  max-height: 100svh;
  padding: 2rem;
  transition: transform ease-out var(--flyout-duration);
}

.opened .app__form {
  transform: none;
}

.app__input-group {
  margin-bottom: clamp(0.8rem, 0.68rem + 0.64vw, 1rem);
}

.app__label {
  font-size: clamp(0.8rem, 0.68rem + 0.64vw, 1rem);
}

.app__input {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.8rem, 0.68rem + 0.64vw, 1rem);
  display: block;
  min-width: 100%;
  padding: clamp(0.8rem, 0.68rem + 0.64vw, 1rem);
  min-height: clamp(1.5rem, 1.2rem + 1.6vw, 2rem);
  border: 1px solid;
  border-radius: 1rem;
}

.app__button {
  all: unset;
  background-color: var(--color-delta);
  padding: clamp(0.125rem, 0.05rem + 0.4vw, 0.25rem) clamp(0.375rem, 0.3rem + 0.4vw, 0.5rem);
  border-radius: .5rem;
  border: 1px solid;
  cursor: pointer;
}

.app__button--toggle {
  border-radius: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.app__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  min-height: 100svh;
}

.profile {
  display: grid;
  grid-gap: clamp(1rem, 0.7rem + 1.6vw, 1.5rem);
  max-width: clamp(20rem, 14rem + 32vw, 30rem);
  padding: clamp(1rem, 0.7rem + 1.6vw, 1.5rem);
  box-shadow: 0 0 0 clamp(1rem, 0.7rem + 1.6vw, 1.5rem) var(--color-alpha);
  border-radius: 1rem;
  position: relative;
}

.profile:before {
  content: "";
  background-color: var(--color-gamma);
  background-image: linear-gradient(to top right, var(--color-gamma), var(--color-delta));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.profile__name {
  font-size: clamp(1rem, 0.7rem + 1.6vw, 1.5rem);
  line-height: 1;
}

.profile__position {
  background-color: var(--color-beta);
  font-size: clamp(0.7rem, 0.595rem + 0.56vw, 0.875rem);
  font-weight: 400;
  line-height: 1;
  position: absolute;
  top: 0;
  right: clamp(1rem, 0.7rem + 1.6vw, 1.5rem);
  transform: translateY(-50%);
  min-height: clamp(1rem, 0.7rem + 1.6vw, 1.5rem);
  padding: clamp(0.125rem, 0.05rem + 0.4vw, 0.25rem) clamp(0.375rem, 0.3rem + 0.4vw, 0.5rem);
  border-radius: 1.5rem;
  border: 1px solid;
}

.profile__image {
  aspect-ratio: 1;
  position: relative;
}

.profile__image img {
  background-color: var(--color-gamma2);
  display: block;
  border-radius: clamp(0.5rem, 0.35rem + 0.8vw, 0.75rem);
}

.profile__details {
  list-style: none;
  display: flex;
  gap: clamp(0.5rem, -0.1rem + 3.2vw, 1.5rem);
}

.profile__details li {
  background-color: var(--color-beta);
  font-size: clamp(0.8rem, 0.68rem + 0.64vw, 1rem);
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(0.125rem, 0.05rem + 0.4vw, 0.25rem) clamp(0.375rem, 0.3rem + 0.4vw, 0.5rem);
  border-radius: clamp(0.2rem, 0.17rem + 0.16vw, 0.25rem);
}

.profile__skills {
  display: flex;
  align-items: center;
  gap: .25rem;
  margin-top: clamp(2rem, 1.4rem + 3.2vw, 3rem);
  list-style: none;
}

.profile__skills li {
  font-size: clamp(0.9rem, 0.765rem + 0.72vw, 1.125rem);
}

.profile__skills li:last-of-type {
  margin-left: auto;
}

.profile__description {
  font-size: clamp(0.675rem, 0.63rem + 0.24vw, 0.75rem);
  margin-top: clamp(-0.75rem, -0.6rem + -0.8vw, -1rem);
}

.profile__weakness {
  font-size: clamp(0.675rem, 0.63rem + 0.24vw, 0.75rem);
  line-height: 1;
  display: flex;
  align-items: baseline;
  gap: .25rem;
  margin-top: clamp(2rem, 1.4rem + 3.2vw, 3rem);
}

.profile__weakness ul {
  display: flex;
  gap: .25rem;
  list-style: none;
}

.profile__weakness li {
  background-color: var(--color-beta);
  padding: clamp(0.1rem, 0.085rem + 0.08vw, 0.125rem) clamp(0.2rem, 0.17rem + 0.16vw, 0.25rem);
  border-radius: clamp(0.2rem, 0.17rem + 0.16vw, 0.25rem);
}

.profile__url {
  font-size: clamp(0.675rem, 0.63rem + 0.24vw, 0.75rem);
  line-height: 1;
  color: inherit;
  margin-top: clamp(-0.75rem, -0.6rem + -0.8vw, -1rem);
}

.app:before,
.profile:before,
.profile__image img {
  animation: colorize linear 20s infinite paused;
}

.app.animated:before,
.app.animated .profile:before,
.app.animated .profile__image img {
  animation-play-state: running;
}

@media screen and (min-width: 60em) {
  .app {
    grid-template-columns: 0 1fr;
    transition: grid-template-columns ease-in-out var(--sidebar-duration);
  }

  .app.opened {
    grid-template-columns: var(--sidebar-width) 1fr;
  }

  .app__form {
    transform: translateX(calc(var(--sidebar-width) * -1));
  }
}

@keyframes colorize {
  to {
    filter: hue-rotate(360deg);
  }
}
